@font-face {
  font-family: "ubuntu";
  src: url("./ubuntu_font/Ubuntu-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "ubuntu";
  src: url("./ubuntu_font/Ubuntu-Bold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "ubuntu";
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

canvas {
  opacity: 0.7;
}

#content {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  width: 100%;
  height: 33vh;
  margin-top: calc(33vh - 70px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

header > h1 {
  justify-self: center;
  align-self: center;
  width: 80%;
  font-size: 33px;
  font-weight: normal;
  text-align: center;
  color: #3b3b3b;
}

header > h1 > strong {
  color: #009063;
  font-weight: bold;
}

#navbar {
  position: sticky;
  box-sizing: border-box;
  padding-left: 15px;
  width: 100%;
  height: 70px;
  top: 0;
  display: grid;
  grid: 1fr/1fr;
}

#navbar-button {
  grid-area: 1/1/-1/-1;
  width: 40px;
  height: 40px;
  justify-self: left;
  align-self: center;
  border: solid #009063 3px;
  border-radius: 10px;
  background: transparent;
}

#navbar-container {
  grid-area: 1/1/-1/-1;
  justify-self: right;
  align-self: center;
  visibility: hidden;
}
